.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 150px;
    width: 100%;
}

.navbar ul {
    float: left;
    position: fixed;
    left: 0;
    padding: 5px;
}

.navbar ul li {
    display: inline;
}

.navbar li a {
    color: white;
    text-align: center;
    padding: 100px 30px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}
div.Studiemonitor th, td {
    padding: 5px;
    width: 20%;
}
div.Studiemonitor th {
    text-align: center;
}
div.Studiemonitor th.tabletop{
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
}
div.Studiemonitor tr.tabletop{
    border-style: none;
}
div.Studiemonitor th.tablemid{
    border: 3px solid black;
    border-collapse: collapse;
}
div.Studiemonitor tr.TotalEC{
    border-top-style: double;
    border-top-width: 3px;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-collapse: collapse;
}
div.Studiemonitor th.TotalEC{
    border-right-style: inset;
    border-right-width: 3px;
    border-right-color: black;
    border-collapse: collapse;
}
div.Studiemonitor tr{
    border-right-style: hidden;
    border-right-width: 3px;
    border-right-color: black;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: black;
}

div.Studiemonitor {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
div.Studiemonitor th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
div.Studiemonitor td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

div.EC {
    margin-top:35px;
    font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
div.EC th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
div.EC td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

div.Studiemonitor table {
    border-collapse: collapse;
}

body {
    background-image: url("wallpaper\ double.jpg");
    background-repeat: no-repeat;
    background-position: absolute;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    padding:0 16px;
    margin-bottom: 100px;
}

.header {
    background-image: url("dog.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    text-align: center;
    width:100%;
    overflow: hidden;
    float: left;
    position: fixed;
    left: 0;
    margin: 0;
    top: 0;

}

.fa {
    padding: 0px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 70%;
  }
  

  .footer {
    position: bottom;
    left: 30x;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: justify;
}

.imageikjongdrop:hover .imageambermersax013{
    display: block;
}

.imageikjong {
    margin-right: 30px;
    float:right;
    margin-top:-30px;
    width:320px;
    height:480px
}

.imageambermersax013 {
    display: none;
    float:right;
    margin-top:-30px;
    width:360px;
    height:480px
}

.imagedogsdrop:hover .imagecute{
    display: block;
}

.imagedogs, .imagecute {
    margin-top:100px;
}
.imagedogs {
    margin-right: 30px;
    float:right;
    width:460px;
    height:460px
}

.imagecute {
    display: none;
    float:right;
    width:500px;
    height:460px
}